<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABC Hospital | Add Doctor</title>
</head>
<body>

<div align="center">
    <h1>Add Doctor</h1>
    <form action="#" th:action="@{/addDoctor}" method="post" th:object="${doctor}">
        <label>First name:</label>
        <input type="text" th:field="*{firstName}" /><br/>

        <label>Last name:</label>
        <input type="text" th:field="*{lastName}" /><br/>

        <label>Email:</label>
        <input type="text" th:field="*{email}" /><br/>
        <br/>

        <button type="submit">Add Doctor</button>
    </form>
</div>
</body>
</html>